#heroMask {
    background: #ffffff;
    -webkit-mask-image: url('../assets/images/hero/textHero.svg');
    mask-image: url('../assets/images/hero/textHero.svg');
    mask-repeat: no-repeat;
    mask-position: center 40%;
    -webkit-mask-position: center 40%;
    mask-size: clamp(3500vh, 1500%, 0vh);
    transform-origin: center 50%;
    z-index: 30;
}

#dateLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100lvh;
    transform-origin: 50% 50%;
    z-index: 20;
    padding-bottom: 15lvh;
    -webkit-mask-image: radial-gradient(circle at bottom center,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 30%);
    mask-image: radial-gradient(circle at bottom center,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 30%);
}

#dateLogo h3 {
    font-family: 'fontBold';
    background-image: radial-gradient(circle at 50% 200vh, rgb(255, 210, 123) 0%, rgb(223, 58, 147) 15%, rgb(92, 22, 99) 30%, rgba(32, 31, 66, 0) 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-size: var(--h1size);
    line-height: 86%;
    letter-spacing: -.04em;
}

#priceData h4 {
    font-family: 'fontBold';
    background-image: radial-gradient(circle at 50% 200vh, rgb(255, 210, 123) 0%, rgb(223, 58, 147) 15%, rgb(92, 22, 99) 30%, rgba(32, 31, 66, 0) 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-size: var(--h3size);
    line-height: 86%;
    letter-spacing: -.04em;
}


#priceData p {
    font-family: 'fontBold';
    background-image: radial-gradient(circle at 50% 200vh, rgb(255, 210, 123) 0%, rgb(223, 58, 147) 15%, rgb(92, 22, 99) 30%, rgba(32, 31, 66, 0) 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-size: var(--h4size);
    line-height: 86%;
    letter-spacing: -.04em;
}

.choose.buttonConfirm {
    border-radius: 40px;
    padding: 4px 16px;
    background-color: #960696;
    color: #ffffff;
    font-weight: bold;
    transition: all 1s;
}

.buttonConfirm {
    font-weight: bold;
    padding: 4px 16px;
    color: #ffffff33;
}

#textOrg {
    transform: translate3d(0px, 0px, 0px) scale(0.8541, 0.8541);
    mask-image: radial-gradient(at 20% -120vh, rgb(0, 0, 0) 0vh, rgba(0, 0, 0, 0) 50vh);
    -webkit-mask-image: radial-gradient(at 20% -120vh, rgb(0, 0, 0) 0vh, rgba(0, 0, 0, 0) 50vh);
    opacity: 1;
}

#textOrgInner {
    background-image: radial-gradient(circle at 50% 200vh,
            rgb(255, 210, 123) 0%,
            rgb(223, 58, 147) 15%,
            rgb(92, 22, 99) 30%,
            rgba(32, 31, 66, 0) 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#textOrgInner h2 {
    font-size: calc(var(--h2size) * 1.8);
    font-family: 'fontBold';
    font-style: normal;
    letter-spacing: -.0125em;
    line-height: 100%;
}

#textOrgInner p {
    font-family: 'fontSemiBold';
    font-size: var(--h2size);
    font-style: normal;
    text-wrap: pretty;
    letter-spacing: -.03em;
    line-height: 120%;
}

#textFinalContainer {
    transform: translate3d(0px, 0px, 0px) scale(0.8541, 0.8541);
    opacity: 1;
}

#textFinal {
    background-image: radial-gradient(circle at 50% 90vh, rgb(255, 210, 123) 0vh, rgb(223, 58, 147) 50vh, rgb(92, 22, 99) 100vh);
    -webkit-text-fill-color: transparent;
}

#textFinal {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#textFinal h3 {
    line-height: 120%;
    font-family: 'fontBold';
    font-style: normal;
    font-size: var(--h1size);
    letter-spacing: -.04em;
}

.nameNovios h2 {
    font-family: 'textDesc';
    font-size: min(var(--wsizeM), 110px);
    color: #fff9cb;
    font-style: normal;
    letter-spacing: 0;
    line-height: .9;
    text-transform: uppercase;
}

.nameNovios h4 {
    font-size: 8vw;
}

.nameNovios p {
    font-size: 4.5vw;
}

.section-text {
    background: linear-gradient(180deg,
            transparent 0%,
            rgba(0, 0, 0, 0.7) 5%,
            transparent 95%)
}

.logoCalina {
    height: var(--wsizeL);
}

a {
    font-family: 'fontSemiBold';
}

.text-layer-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    width: 100%;
}

#Leo,
#Yani,
#containerTextOrg,
#finalAnimation {
    will-change: transform, opacity;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.imageBg {
    --mask-size: 0vh;
    border-radius: 12px;
    transition: none;
}

.dressSelector {
    background-image: url('../assets/images/dress/bgSelector.svg');
}

.minus {
    rotate: -90deg;
    transition: all 0.5s ease;
}

.minus.active {
    rotate: 0deg;
    transition: all 0.5s ease;
}