#heroMask {
    background: #ffffff;
    mask-image: url('../assets/images/textHero.svg');
    mask-position: 50% 35%;
    mask-repeat: no-repeat;
    mask-size: clamp(3500vh, 1500%, 0vh);

}

.translateResize {
    transform: translate(-49.9%, -27.5%);
}

.sizeImg {
    width: calc(25vh + 2px);
}

#dateLogo {
    -webkit-mask-image: radial-gradient(circle at bottom center,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 30%);
    mask-image: radial-gradient(circle at bottom center,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 30%);
}

#dateLogo h3 {
    font-family: 'fontBold';
    background-image: radial-gradient(circle at 50% -30vh, #dfb7df 0, #960696 50vh, #570157 90vh, rgba(32, 31, 66, 0) 150vh);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-size: var(--h1size);
    line-height: 86%;
    letter-spacing: -.04em;
}

#textOrg * {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#textOrg h2 {
    font-size: calc(var(--h2size) * 1.8);
    font-family: 'fontBold';
    width: 100%;
    background-image: radial-gradient(circle at 50% -30vh, #dfb7df 0, #960696 50vh, #570157 90vh, rgba(32, 31, 66, 0) 150vh);
    line-height: 120%;
}

#textOrg p {
    font-family: 'fontSemiBold';
    width: 100%;
    background-image: radial-gradient(circle at 50% -30vh, #dfb7df 0, #960696 50vh, #570157 90vh, rgba(32, 31, 66, 0) 150vh);
    font-size: var(--h2size);
    line-height: 120%;
}

.nameNovios h2 {
    font-family: 'textDesc';
    font-size: min(var(--namesize), 110px);
    color: #fff9cb;
    font-style: normal;
    letter-spacing: 0;
    line-height: .9;
    text-transform: uppercase;
}

.nameNovios h4 {
    font-size: 8vw;
}

.nameNovios p {
    font-size: 4.5vw;
}

.section-text {
    background: linear-gradient(180deg,
            transparent 0%,
            rgba(0, 0, 0, 0.7) 5%,
            transparent 95%)
}