
#heroMask {
    background: #ffffff;
    mask-image: url('../assets/images/textHero.svg');
    mask-position: 50% 35%;
    mask-repeat: no-repeat;
    mask-size: clamp(3500vh, 1500%, 0vh);

}

.translateResize {
    transform: translate(-49.9%, -27.5%);
}

.sizeImg {
    width: calc(25vh + 2px);
}

#dateLogo {
    -webkit-mask-image: radial-gradient(circle at bottom center,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 30%);
    mask-image: radial-gradient(circle at bottom center,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 30%);
}

h2 {
    font-family: 'fontBold';
    width: 100%;
    text-transform: uppercase;
    background-image: radial-gradient(circle at 50% -30vh, #dfb7df 0, #960696 50vh, #570157 90vh, rgba(32, 31, 66, 0) 150vh);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#textOrg p {
    font-family: 'fontSemiBold';
    width: 100%;
    background-image: radial-gradient(circle at 50% -30vh, #dfb7df 0, #960696 50vh, #570157 90vh, rgba(32, 31, 66, 0) 150vh);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#textOrg {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
