.buttonStory {
    max-width: 48%;
}

.opacityAnimated {
    animation: transOp 3s ease-in;
}

@keyframes transOp {
    0% {
        opacity: 1;

    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}